# Cálculo de las tasas de distribución para la rama Q mediante Python


---
El objetivo de este documento es presentar las funciones y sintaxis necesarias para el cáculo de las tasas de distribución usando el lenguaje de programación Python, bajo la premisa de que esta herramienta permitirá realizar cálculos más confiables y transparentes, ayudará a la acumulación de capital humano de los funcionarios, y  permitirá una transición más suave al análisis de la información una vez calculada.

In [ ]:
import pandas as pd
import requests
import xlrd
import urllib

link = "https://www.dssa.gov.co/images/estadisticas/aseguramiento/Estad%C3%ADsticas_Cobertura_en_Aseguramiento_Diciembre_2018-Ajustado_CENS_DANE.xlsx"

In [ ]:
#Se lee el archivo 
afiliados=pd.ExcelFile(link)
#Se selecciona la primera hoja
afiliados.sheet_names
#Se asigna la primera hoja mediante el método .parse; y se eliminan las filas iniciales.
datos_afiliacion=afiliados.parse(afiliados.sheet_names[1],header=[0,1],skiprows=[0,1])
#¿Cómo se ven los datos?
datos_afiliacion.head()

            COD MPIO  ... Unnamed: 32_level_0
  Unnamed: 0_level_1  ... Unnamed: 32_level_1
0                NaN  ...                 NaN
1                NaN  ...                 NaN
2                142  ...                 NaN
3                425  ...                 NaN
4                579  ...                 NaN

[5 rows x 33 columns]

In [ ]:
#Se eliminan las notas de pie de página.
datos_afiliacion=afiliados.parse(afiliados.sheet_names[1],header=[0],skiprows=[0,1,2],usecols=list(range(0,11)),skipfooter=4)
#Se renombran las columnas.
datos_afiliacion.columns=["codmun","municipio","poblacion","regsub_afiliados","regsub_cobertura","regcon_afiliados","regcon_cobertura", "regesp_afiliados","regesp_cobertura","regmil_afiliados","regmil_cobertura"]
#¿Cómo se ven los datos?
datos_afiliacion.head()

   codmun              municipio  ...  regmil_afiliados  regmil_cobertura
0     NaN     TOTAL DEPARTAMENTO  ...             82194          0.012829
1     NaN  TOTAL MAGDALENA MEDIO  ...              2018          1.948027
2   142.0               CARACOLI  ...                44          0.009603
3   425.0                  MACEO  ...                38          0.004622
4   579.0          PUERTO BERRIO  ...              1615          0.041080

[5 rows x 11 columns]

In [ ]:
#Eliminar las columnas de los totales por subregión.
datos_afiliacion=datos_afiliacion.loc[-datos_afiliacion["municipio"].str.contains("TOTAL",regex=False),:]
#Cambiar el tipo a la columna de código de municipio.
datos_afiliacion.codmun=datos_afiliacion.codmun.astype("int")
#Esto se hace para sumarle 5000 y obtener el código del DANE.
datos_afiliacion["codmun_dane"]=datos_afiliacion.codmun+5000
#Usar el código del DANE como índice
datos_afiliacion=datos_afiliacion.set_index("codmun_dane")
datos_afiliacion=datos_afiliacion.drop("codmun",axis=1)

In [ ]:
#Ordenar de mayor a menor el código
datos_afiliacion=datos_afiliacion.sort_values(by="codmun_dane")
#Se agregan los datos de afiliación
datos_afiliacion["total_afiliados"]=datos_afiliacion.iloc[:,[2,4,6,8]].sum(axis=1)
datos_afiliacion
#Se crea la variable participación
datos_afiliacion["participacion"]=datos_afiliacion.total_afiliados/datos_afiliacion.total_afiliados.sum(axis=0)

In [ ]:
valor_ag_precios_corrientes=float(input())

3300

In [ ]:
valor_ag_precios_constantes=float(input())

2968.79

In [ ]:
# Crear un nuevo dataframe para la participación.
valor_distribuido=datos_afiliacion.loc[:,["participacion"]]
#Aplicar el valor del DANE a la participación.
valor_distribuido["valor_precios_corr"]=valor_distribuido["participacion"]*valor_ag_precios_corrientes
valor_distribuido["valor_precios_con"]=valor_distribuido["participacion"]*valor_ag_precios_constantes

In [ ]:
from google.colab import files

valor_distribuido.to_csv('distribucion_q.csv')
files.download('distribucion_q.csv')